@import "tailwindcss/base";       /* @tailwind base; */
@import "tailwindcss/components"; /* @tailwind components; */
@import "tailwindcss/utilities";  /* @tailwind utilities; */
@import 'tailwindcss-bootstrap/src/styles/index.css';

html,
body {
  @apply font-base p-0 m-0;
}

code {
  @apply font-mono;
}

#root {
  @apply inline;
}

@layer components {
  .page-static {
    @apply static z-auto overflow-visible;
    contain: none;
  }

  .page-overlay {
    @apply absolute z-1040 overflow-visible;
    contain: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  will-change: min-height;
}

.sidebar__inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}
